<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
   



    <style>
        .header {
            background-color: #11698e;
        }
    </style>
</head>
<body>

    <section id="header">
        <header class="header">
            <section id="navbar">
                <nav class="navbar  mt-0 ">
                    <ul class="nav navbar-nav ml-auto">
                        @if (Session["Username"] != null)
                        {
                            <li> <a class="text-white" href="/login/Logout">Logout</a></li>
                        }
                        else
                        {
                            <li> <a class="text-white" href="/">login</a></li>
                        }
                    </ul>
                </nav>
            </section>

            @if (Session["Username"] != null)
            {
                <section id="jumbotron">
                    <div class="jumbotron mb-0 header pb-5 pt-5">

                        <h3 class="justify-content-center text-center text-white">
                            <span>Welcome, </span> @Session["Username"].ToString()
                        </h3>

                    </div>
                </section>

                <section id="navbar-bottom">
                    <nav class="navbar mt-0 pt-0">
                        <div class="container">
                            <div>

                                @if (Request.RawUrl.ToString().Equals("/Home"))
                                {
                                    <a class="navbar-brand mr-5 " style="color: #e6e6e6;" href="/Home">Projects</a>
                                    <a class="navbar-brand text-white" href="#" >User Management</a>
                                }
                                else
                                {
                                    <a class="navbar-brand mr-5 text-white" href="/Home">Projects</a>
                                    <a class="navbar-brand" style="color: #e6e6e6;" href="#">User Management</a>
                                }
                            </div>
                        </div>
                    </nav>
                </section>
            }
        </header>
    </section>

    <section id="body">
        <div class="container body-content" style="margin-top: 40px;">
            @RenderBody()
        </div>
    </section>

    <section id="footer">
        <footer class="container body-content" style="margin-top: 10vw;">
            <hr />
            <p>&copy; @DateTime.Now.Year - putud ASP.NET Application</p>
        </footer>
    </section>

    @RenderSection("scripts", required: false)
</body>
</html>
